env:
  MYSQL_DATABASE_VENTAS: ${{ vars.MYSQL_DATABASE_VENTAS }}
  MYSQL_DATABASE_DESPACHOS: ${{ vars.MYSQL_DATABASE_DESPACHOS }}

  MYSQL_ROOT_PASSWORD: ${{ secrets.MYSQL_ROOT_PASSWORD }} 

  VENTAS_PORT: ${{ vars.VENTAS_PORT }}
  DESPACHOS_PORT: ${{ vars.DESPACHOS_PORT }}
  FRONTEND_PORT: ${{ vars.FRONTEND_PORT }}